<div class="container">


<strong>Name</strong>: <%= @user.name %><br>
<strong>Email</strong>: <%= @user.email %><br>
<strong>Username</strong>: <%= @user.username %><br>
<strong>Password</strong>: <%= @user.password %><br>

</div>
