Form for creating posts

<div class="contianer">
  <%= form_for(@post)  do |new_post| %>
   <%= new_post.text_field :title, :placeholder => "Great Apes" %><br>
    <%= new_post.text_field :body, :placeholder => "Body" %><br>
    <%= new_post.submit %>
<% end %>
































</div>
