<!-- <h1 class="about"> About us <h1> -->
<% cache do %>
<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <p class="about">Team</p>

        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://3.bp.blogspot.com/-Prit6Y_lx50/UYb0kpPQ9iI/AAAAAAAAuyE/OOvITfAr5lk/s1600/Cats+Wallpapers+(12).jpg">
          <h2>Alexander Froelich</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="https://github.com/froeal01" role="button">View Github</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSHW_o57D2kRdi9FEEbknV69XJbeJ5xaO8vQd44Y9TDnrkewRKgSA">
          <h2>Elaine Yu</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="https://github.com/ElaineYu" role="button">View Github</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://www.wallpaperswala.com/wp-content/gallery/cat/cat-wallpapers.jpg">
          <h2>Tyson Kunovsky</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="https://github.com/kunovsky" role="button">View Github</a></p>
            </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://hereticalreflections.files.wordpress.com/2013/07/little_cute_cat_1920x1080.jpg">
          <h2>Andrew Guard</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="https://github.com/AndrewGuard" role="button">View Github</a></p>
            </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSda8b6Y0-9sW-JVJFLbl434Dh1g1mP4AkotaRiNzUIV9aGFU1StA">
          <h2>Jake Koten</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="https://github.com/kotentie" role="button">View Gitub</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div>
<% end %>


